
*{
    font-family: 'Roboto', sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right top, #3e1b64, #4d2c7a, #5c3d91, #6a4ea9, #7960c2);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.title-login{
    color: #fff;
}
.title-login h1{

    font-size: 35px;
    font-weight: bold;
}
.rocket{
    font-size: 50px;
}
.box-create{
    background-color: #fff;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
}

.box-create h1{
    font-size: 30px;
    color: #5b1275;
    font-weight: bold;
}

.nav-tabs {
    margin-top: 3%;
    border: none;
    background: #7359b8;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}

.nav-justified .nav-item {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
}

.nav-tabs .nav-link {
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.nav-tabs .nav-link.active {
    width: 100px;
    color: #7359b8;
    border: 2px solid #7359b8;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}


.nav-tabs .nav-link:hover {
    border: none;
}

.btn-cadastrar{
    background-color: #563688;
    color: #fff;
    border: none;
}

.btn-cadastrar:hover{
    color: #fff;
}


.btn-login{
    color: #fff;
    border: 2px solid #fff;
    border-radius: 20px;
}

.btn-login:hover{
    color: #fff;
}

@media screen and (max-width:768px){
    .nav-tabs{
        width: 50%;
    }
    .box-create{
        -webkit-box-shadow: 5px 5px 15px 5px #000000; 
        box-shadow: 5px 5px 15px 5px #000000;
    }
}