<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="app" class="p-5">
        <div class="row box">
            <div class="col-md-4 p-5 text-center box-welcome">
                <div class="title-login mt-5">
                    <i class="fas fa-rocket rocket"></i>

                    <h1 class="mt-3"> Sejá Bem-Vindo(a)!</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur<br>
                        Vestibulum vitae lorem ac sem finibus.</p>

                        <button v-on:click="login = !login, cadastro = !cadastro" type="button" class="btn btn-login">{{!login ? "Fazer Login" : "Fazer Cadastro"}}</button>
                </div>
            </div>
            <div class="col-md-8 text-center box-create">
                <div class="row">
                    <div class="col-md-12" v-if="!login">
                        <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a v-on:click="aluno = true, professor = false" class="nav-link active"  data-toggle="tab"  role="tab" aria-controls="aluno" aria-selected="true">Aluno</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" v-on:click="aluno = false, professor = true" data-toggle="tab"  role="tab" aria-controls="professor" aria-selected="false">Professor</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-12 p-5">
                        <h1>Crie sua conta</h1>
                        <div v-if="cadastro">
                            <div class="row mt-4" v-if="aluno">
                                <div class="col-md-6">
                                    <div class="input-group mb-3 flex-nowrap">
                                        <input type="text" class="form-control" placeholder="Nome" aria-label="Nome" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group mb-3 flex-nowrap">
                                        <input type="email" class="form-control" placeholder="Email" aria-label="Email" required>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="input-group mb-3 flex-nowrap">
                                        <input type="text" class="form-control" placeholder="Telefone" aria-label="telefone">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group mb-3 flex-nowrap">
                                        <input type="text" class="form-control" placeholder="Celular" aria-label="celular" required>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="input-group mb-3 flex-nowrap">
                                        <select  class="form-control p2" placeholder="Telefone" aria-label="telefone">
                                            <option v-for="s in school">{{s.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group mb-3 flex-nowrap">
                                        <input type="text" class="form-control" placeholder="Data de nascimento" aria-label="datanasci" required>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="input-group mb-3 flex-nowrap">
                                        <input type="password" class="form-control" placeholder="Senha" aria-label="senha">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group mb-3 flex-nowrap">
                                        <input type="password" class="form-control" placeholder="Confirmar senha" aria-label="confirmar senha" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-4" v-if="professor">
                                <div class="col-md-6">
                                    <div class="input-group mb-3 flex-nowrap">
                                        <input type="text" class="form-control" placeholder="Nome" aria-label="Nome" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group mb-3 flex-nowrap">
                                        <input type="email" class="form-control" placeholder="Email" aria-label="Email" required>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="input-group mb-3 flex-nowrap">
                                        <input type="text" class="form-control" placeholder="Telefone" aria-label="telefone">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group mb-3 flex-nowrap">
                                        <input type="text" class="form-control" placeholder="Celular" aria-label="celular" required>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="input-group mb-3 flex-nowrap">
                                        <input type="text" class="form-control" placeholder="Formação" aria-label="formacao" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group mb-3 flex-nowrap">
                                        <select  class="form-control p2" placeholder="Telefone" aria-label="telefone">
                                            <option v-for="m in materia">{{m.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                

                                <div class="col-md-6">
                                    <div class="input-group mb-3 flex-nowrap">
                                        <input type="password" class="form-control" placeholder="Senha" aria-label="senha">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group mb-3 flex-nowrap">
                                        <input type="password" class="form-control" placeholder="Confirmar senha" aria-label="confirmar senha" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4" v-if="login">
                            <div class="col-md-12">
                                <div class="input-group mb-3 flex-nowrap">
                                    <input type="email" class="form-control" placeholder="Email" aria-label="Email" required>
                                </div>
                            </div>
                            <div class="col-md-12" v-if="!forgot">
                                <div class="input-group mb-3 flex-nowrap">
                                    <input type="password" class="form-control" placeholder="Senha" aria-label="senha">
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-cadastrar" v-if="!forgot">{{login ? "Entrar" : "Cadastrar"}}</button><br>
                        <button type="button" class="btn btn-cadastrar" v-if="forgot">Enviar</button><br>
                        <div class="mt-3" v-if="login">
                            <a href="#" class="mt-3" v-on:click="forgot = true">Esqueceu a Senha ?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/functions.js"></script>
</body>

</html>